@using CarInsuranceCalculator.Data.Models
@using PagedList.Mvc
@model PagedList.IPagedList<CarInsuranceCalculator.Models.Models.InsurerRiskOrBonus>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Insurer"))
{
    <h2>List of Risks/Bonuses for this insurer</h2>
}
else
{
    <h2>List of Risks/Bonuses for all insurers</h2>
}

@{
    if (User.IsInRole("Insurer"))
    {
        <p>
            <a asp-action="Create">Add new</a>
        </p>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Risk/Bonus
                    </th>
                    <th>
                        Tariff Number Change
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    if (item.InsurerId == ViewBag.CurrentUser)
                    {
                        <tr>
                            <td>
                                @{
                                    List<RiskOrBonus> risksOrBonuses = ViewBag.Risks;
                                    var riskOrBonus = risksOrBonuses.FirstOrDefault(rob => rob.Id == item.RiskOrBonusId);
                                    item.RiskOrBonus = riskOrBonus;
                                }
                                @Html.DisplayFor(modelItem => item.RiskOrBonus.Nomenclature)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TariffNumberChange)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { insurerId = item.InsurerId, riskOrBonusId = item.RiskOrBonusId,tarifNumberChange=item.TariffNumberChange }) |
                                @Html.ActionLink("Delete", "Delete", new { insurerId=item.InsurerId,riskOrBonusId=item.RiskOrBonusId })
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    }
    else if (User.IsInRole("Admin"))
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Insurer
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @{
                List<Insurer> insurers = ViewBag.Insurers;
            }
            @foreach (var item in insurers)
            {
                <tr>
                    <td>
                       @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new {insurerId = item.Id})
                    </td>
                </tr>

            }
            </tbody>
        </table>
    }

}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-page="@(Model.PageNumber - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageNumber + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
